$primary: #d35400;
$secondary: #ecf0f1;
$warning: #fdda4d;

section {
  padding-bottom: 3rem;
  &:first-of-type {
    padding-top: 3rem;
  }
}

input.form-control:focus,
textarea.form-control:focus {
  border-color: #e2d8c2;
  box-shadow: 0 0 0 0.2rem rgba(236, 227, 201, 0.25);
}

.fit-image-as-bg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
}
